/* Bare Essentials --------------------------------------- */

pre {
	background: #f5f5f5;
	overflow-y: scroll;
	font: 15px/23px monospace;
	margin: 0 0 25px;
	padding: 10px;
}

body.logged_out.landing {
	background: none;
}

body {
	background: url(/images/mochaGrunge.png);
}

#wrap {
	width: 980px;
	margin: 0px auto;
	background: white;
	-webkit-box-shadow: 0 0px 11px rgba(26, 26, 26, 1.0);
	box-shadow: 0 0px 11px rgba(26, 26, 26, 1.0);
	padding: 0 0 30px 0;
	overflow: hidden;
}

body {
	font: 16px/24px 'proxima-nova-soft', Helvetica, Arial; 
}

table.breakdown td.name {
	padding-right: 16px;
}

table.breakdown td.hour {
	text-align: right;
	padding-right: 7px;
}

#nav {
width: 920px;
margin: 0 auto 30px;
padding: 10px 0;
overflow: hidden;
border-bottom: 1px solid rgb(228, 228, 228);
}

#nav li.first a {
	padding-left:0;
}

#nav li {
	list-style-type: none;
	float: left;
}

#nav li a {
	padding: 10px 18px;
	display: block;
	text-decoration: none;
}

#nav li.client {
	float: right;
	margin: 8px 0 0;
}

#nav li.period .select2-container {
	margin-right: 0;
}

#nav li.period {
	float: right;
	margin: 8px 0 0;
}

#nav .select2-container {
	margin: 0 10px;
}

#nav li.period select {
}

#nav li.period a, #nav li.client a {
	padding: 0 10px;
}

#nav li.period a {
	padding-right: 0;
}


#nav li.logout, #nav li.login {
float: right;
padding: 0;
}

#nav ul ul {
	background: white;
padding: 6px 0;
border: 1px solid #C4C4C4;
-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
border-radius: 5px; 
	margin: 0 0 0 15px;
}

#nav li a .sf-sub-indicator {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}
	

#nav li li {
	border: none;
}

#nav li li a {
	width: 158px; 
	margin: 0;
	padding: 3px 10px;
	border-bottom: 1px solid #fff;
	text-transform: none;
	position: relative;
	display: block;
	color: #111;
}

#nav li li a.dead, #nav li li a.dead:hover {
	background: none;
	color: rgb(207, 207, 207);
	cursor: default;
}

	
#nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 180px;
padding: 6px 0;
	}

#nav li.account-settings ul {
	width: 100px;
	text-align: center;
	margin: 0;
}

#nav li.account-settings ul li a {
	width: 100px;
	padding: 3px 0;
}

#nav li li a:hover {
color: white;
	background: #3a6ff3;
}

#nav li ul a { 
	width: 160px;
	}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul {
	left: -999em;
	}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfHover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul {
	left: auto;
	}

#nav ul ul ul {
	margin: 0 0 0 180px;
}



#content {
		padding: 0 30px;
}

.view .expenses {
	margin: 15px 0 15px 0;
	border-bottom: 1px solid #e4e4e4;
	padding: 0 0 20px 0;
}

.view h1 a {
	color: #000!important;
}

.view h1 a:hover {
	border-bottom: 1px solid #e4e4e4;
}

.view .total {
	float: none;
}

.view .expenses h2, .view .breakdown {
	border: none;
	margin: 0 0 2px 0;
}
.negative-margins {
	margin: -25px 0 0;
}

.view .left-column {
	float: left;
	min-width: 150px;
}


/* Calendar Idea -----------------------------------*/


.calendar {
	width: 70px;
	text-align: center;
	float: left;
	margin: 0 20px 12px 0;
	background: url(/images/calendar_green.png) no-repeat;
	height: 90px;
}

.month {
	display: block;
	font-size: 11px;
	line-height: 13px;
	width: 68px;
	margin: 0 auto;
	padding: 13px 0 10px 0;
	color: #fff;
	width: 58px;
	margin: 0 0 0 4px;
}

.day {
	font-size: 25px;
	color: #8ca852;
	font-weight: bold;
	padding: 2px 0 0 0;
	display: block;
	width: 58px;
	margin: 0 0 0 4px;
}

.view .minutes {
	color: #ccc;
}

.view .overflow_hidden:hover .minutes {
	display: inline;
}

.view .right {
	float: right;
	width: 830px;
	margin: 7px 0 0 0;
}


label, .label {
	font-size: 14px;
	font-weight: bold;
	display: block;
}

hr {
	border-top: 1px solid #e4e4e4;
	clear: both;
}

hr.orange {
	height: 1px;
	background: #fdab3c;
	border: none;
}

input[type="text"].normal, textarea, input[type="password"] {
	display: block;
	font: 16px 'proxima-nova-soft', Arial;
	margin: 0 0 12px 0;
	width: 230px;
	border: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 9px 9px 8px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

select, .select2-container {
	margin: 0 0 20px 0;
	display: block;
}

#delete_label {
	line-height: 11px;
	float: left;
	margin-right: 4px;
}

.overflow_hidden {
	overflow: hidden;
	padding: 4px 0;
}

input[type="text"].normal:focus, textarea:focus, input[type="password"]:focus {
    outline: 0;
    border-color: rgba(115, 189, 78, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(115, 189, 78, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(115, 189, 78, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(115, 189, 78, 0.6);
}

textarea {
	resize: none;
	display: block;
	width: 890px;
}

input[type="submit"]  {
	font: 300 14px/1  'proxima-nova-soft', Helvetica, Arial;
	margin: 10px 0 30px;
	background-color: #87b448;
	border: none;
	border-radius: 3px;
  color: #FFFFFF;
  padding: 12px 24px;
  text-align: center;
  opacity: 0.9;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(164, 196, 139)), to(rgb(80, 116, 2))); 
	background: -webkit-linear-gradient(center top, #a4c48b, #648420); 
	background: -moz-linear-gradient(center top, #a4c48b, #648420);
	background: -ms-linear-gradient(center top, #a4c48b, #648420); 
	background: -o-linear-gradient(center top, #a4c48b, #648420);
	text-shadow: 0 -1px 0 #648420;
	box-shadow: 0 1px 0 0 #a4c48b inset;

}

input[type="submit"]:hover {
 opacity: 1; 
	-webkit-box-shadow:0 0 5px #91ac63; 
	-moz-box-shadow: 0 0 5px #91ac63; 
	box-shadow:0 0 5px #91ac63; 
}


p {
	margin-bottom: 25px;
}

h1 {
	font-size: 30px;
	margin: 0 0 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin: 0 0 30px 0;
	font-family: Arial;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px;
}

a {
	text-decoration: none;
	color: #87b448;
}

a.current {
	color: #aaa;
}

#content ul, #content ol {
	margin: 0 0 25px 20px;
}

ul br, ol br {
	display: none;
}

ul li br {
	display: block;
}

ul em, ol em {
}
  
/* Content --------------------------------------- */

.single .content {
	overflow: hidden;
	width: 550px;
	float: right;
	padding: 0 50px 0 0
}

/* Home Page when logged in --------------------------------------- */

.home .main td {
	padding: 13px 9px 0;
}

.home td.number {
	width: 20px;
}

.home td.checkboxes {
	width: 25px;
}

.home td input[type="checkbox"] {
	display: none;
}

.home .main .checkboxes, .count-wrap, .tasks .count-wrap {
	text-align: center;
	margin: 0 8px 0 0;
	padding: 9px;
}

.home .main .checkboxes {
	border-right: 2px solid #e7efd4;
}

.checkbox, .count {
	border-radius: 50%;
	display: block;
	width: 29px;
	height: 29px;
	border: 1px solid #ccc;
	padding: 0;
}

.checkbox {
	cursor: pointer;
}

.checkbox span {
	padding: 3px 0 0;
	display: block;
}

.paid, .count {
	color: #fff;
	background: #87b448;
	border: 1px solid #87b448;
}


@-moz-document url-prefix() { 
	.checkbox span, .clients .count span, .tasks .count span {
		padding: 2px 0 0!important;
	}
}


.grey {
	background-color: rgb(245, 247, 240);;
}

thead th {
	text-align: left;
	color: #fff;
	background: #87b448;
}

thead th {
	padding: 4px 0 4px 8px;
}


td {
	padding: 2px 0 2px 8px;
}

table.total {
	margin-bottom: 0px;
	width: 300px;
	float: right;
}

.total td, .total thead th {
	text-align: right;
	padding-right: 10px;
	border: 1px solid rgb(245, 247, 240);
}

.total thead {
	display: none;
}

table.total td {
}

table.total tr {
	background: none!important;
}

.search_form input[type="search"] {
		box-shadow: inset 0 1px 1px 1px #999;
		padding: 7px;
		border-radius: 2px;
		width: 150px;
		/*-webkit-appearance: textfield;*/
}

.excerpt {
	margin: 15px 0 15px 30px;
}

.actions a {
	color: #ddd;
	font-size: 12px;
	font-family: Arial;
}

.light {
	color: #ccc;
}

/* Landing Page --------------------------------------- */

table {
	width: 100%;
}


/* Client Page --------------------------------------- */

.client .good-alert {
	width: 620px;
	float: right;
	margin: 19px 0 0 0;
}

.client .good-alert.two {
	margin: 17px 0 0 0;
}

span.required {
	color: #b80000;
}

/* Clients Page --------------------------------------- */

.clients tr .name a {
	opacity: 0;
}

.clients .count {
	margin: -4px 0 0;
}

.clients .count span, .tasks .count span {
	padding: 3px 0 0;
	display: block;
}

.clients td.edit {
	border-right: 2px solid #e7efd4;
}

.clients tr:hover .name a {
	opacity: 1;
}

.clients .light {
	text-align: right;
	float: right;
}

.clients td, .tasks td {
	padding: 10px;
}

.clients .vertical-center {
	padding: 23px 0 0 10px;
}

.clients .edit {
padding: 23px 10px;
}

/* Task Page --------------------------------------- */


.task .good-alert {
	width: 620px;
	float: right;
	margin: 70px 0 0;
}


/* Tasks Page --------------------------------------- */

.tasks .no-name {
	width: 25px;
}

.tasks td {
	padding: 13px 10px 0;
}

.tasks .count-wrap {
	border-right: 2px solid #e7efd4;
}

/* Landing Page --------------------------------------- */

.landing h1, .landing h2 {
	text-align: center;
}


.landing h2 {
	padding: 0 0 35px 0;
}

.landing .left {
	width: 500px;
	float: left;
}

.landing .right {
	width: 376px;
	float: right;
}

.landing .right form {
	padding: 35px 66px 3px;
}

#home {
	color: black;
	font-weight: 300;
}


/* Login Page --------------------------------------- */

body .fancybox-close {
	background-image: none;
}

input.error, textarea.error {
	border: 1px solid red!important;
}

body .fancybox-wrap {
	top: 20%!important;
}

body .fancybox-wrap form {
	padding: 20px 20px 0;
}

.login .both {	
	overflow: hidden;
	width: 230px;
}

.login .both label {
	float: left;
}

.login .both input[type="checkbox"] {
	vertical-align: bottom;
margin: 7px 6px 0 0;
float: left;
}

.error {
	color: red;
}

/* Fee page _____________ */

.fee .both span {
	float: left;
display: block;
margin: 4px 6px 0 0;
}

.fee input[type="text"].normal {
	width: 60px;
}

/* Time Page --------------------------------------- */

.time input[type="text"].normal {
width: 30px;
float: left;
margin: 0 10px 15px 0;
display: inline;
text-align: right;}

.time .left {
	float: left;
	width: 250px;
}

.time .right {
	float: left;
	width: 250px;
}


.time .overflow_hidden {
	padding: 0;
}


.time .both {
	overflow: hidden;
	margin: 0 0 0 -5px;
	padding: 4px 0 0 5px;
}

.time .seconds {
float: left;
margin: 7px 10px 0 0;
width: 25px;
}

#startstop {
margin: 0 10px 30px 0;
text-align: center;
display: block;
float: left;
}

.time input[type="submit"][value="Start"] {
background-image: linear-gradient(bottom, #FA8E00 0%, #FF9B21 50%, #FFB452 100%);
background-image: -o-linear-gradient(bottom, #FA8E00 0%, #FF9B21 50%, #FFB452 100%);
background-image: -moz-linear-gradient(bottom, #FA8E00 0%, #FF9B21 50%, #FFB452 100%);
background-image: -webkit-linear-gradient(bottom, #FA8E00 0%, #FF9B21 50%, #FFB452 100%);
background-image: -ms-linear-gradient(bottom, #FA8E00 0%, #FF9B21 50%, #FFB452 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FA8E00), color-stop(0.5, #FF9B21), color-stop(1, #FFB452) );
text-shadow: 0 -1px 0 #e78e23;
box-shadow: 0 1px 0 0 #fda73b inset;
}


input[type="submit"][value="Start"]#startstop:hover {
 opacity: 1; 
            cursor: pointer;
            -webkit-box-shadow:0 0 5px #fda73b; 
            -moz-box-shadow: 0 0 5px #fda73b 
            box-shadow:0 0 5px #fda73b; 
}


#startstop[value="Stop"], input[type="submit"].delete {
text-shadow: 0 -1px 0 #860000;
box-shadow: 0 1px 0 0 #c10000 inset;
background-color: #d10000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d10000), to(#860000));
background: -webkit-linear-gradient(center top, #d10000, #860000);
background: -moz-linear-gradient(center top, #d10000, #860000);
background: -ms-linear-gradient(center top, #d10000, #860000);
background: -o-linear-gradient(center top, #d10000, #860000);
border-color: #038A03 #038A03 #025C02;

}

input[type="submit"][value="Stop"]#startstop:hover {
 opacity: 1; 
            cursor: pointer;
            -webkit-box-shadow:0 0 5px #b71a19; 
            -moz-box-shadow: 0 0 5px #b71a19 
            box-shadow:0 0 5px #b71a19; 
}


/* Expense Page --------------------------------------- */

.expense .both span {
	display: block;
	float: left;
	margin: 3px 6px 0 0;
}

.expense input[type="text"].normal {
	width: 66px;
}


/* Account Page --------------------------------------- */

.account .delete-section {
	display: none;
}

.good-alert {
	background: rgb(245, 247, 240);
	padding: 10px;
}

.account .color_scheme label {
	float: left;
	font-weight: 300;
	font-size: 15px;
}

.account .color_scheme input[type="radio"] {
	margin: 5px 10px 0 0;
}
/* Elements --------------------------------------- */

.root {
	overflow: auto;
	height: 100%;
}

.paginate .item {
	padding: 0 10px 0;
	float: left;
}

.post {
	margin: 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #eee;
}

.dates {
	color: #aaa;
	font: 12px Arial;
	overflow: hidden;
}

.dates > div {
	float: left;
}

.modify-date {
	margin-left: 10px;
}

/* Elements --------------------------------------- */

.post .dates, .post form {
	visibility: hidden;
}

.post:hover .dates, .post:hover form {
	visibility: visible;
}

/* Post Inputs --------------------------------------- */


input[type="radio"] {
	vertical-align: 13%;
	margin: 0 10px 0 0;
	float: left;
}

input[type="submit"]::-moz-focus-inner {border:0;}

input.remove {
	color: #aaa;

}

input.edit {
	margin-right: 5px;
	float: left;
}
	
/* Retina Display --------------------------------------- */

@media screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	body {
		background: url(/images/mochaGrunge_@2X.png);
		background-size: 400px;
	}

	.calendar {
		background: url(/images/calendar_green_retina.png) no-repeat;
		background-size: 100%;
	}
}
