/* Bare Essentials --------------------------------------- */

.hint.light {
color: #AAA;
font-family: Arial;
font-size: 13px;
line-height: 18px;
border-top: 1px solid #DDD;
padding: 30px 0 0;
margin: 10px 0 0;
}

*, *:focus {
	outline: none;
}

body .select2-container-active .select2-choice,
body .select2-container-active .select2-choices {
	border: 1px solid #aaaaaa;
	box-shadow: none;
}

body .select2-results .select2-highlighted {
	background: #87B448
}

.cancel-time {
	color: #c7c7c7;
	margin-left: 20px;
}

blockquote:before {
	content: '“';
	font-size: 40px;
	display: block;
	float: left;
	width: 20px;
	margin: 6px 4px -10px 5px;

}

blockquote {
	background: #f5f5f5;
	padding: 10px;
	margin: 0 0 25px;
}

blockquote .last {
	margin: 0;
}

pre {
background-color: #F8F8F8;
border: 1px solid #CCC;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px;
margin: 0 0 25px 0;
}


body.logged_out {
	background: none;
}

body {
	background-image: url(/images/mochaGrunge.png?s);
	background-attachment: fixed;
}

#wrap {
	width: 980px;
	margin: 0px auto;
	background: white;
	box-shadow: 0 0px 11px rgba(163, 127, 106, 1.0);
	padding: 0 0 30px 0;
	overflow: hidden;
}

.landing #wrap, .logged_out #wrap {
	box-shadow: 0 0px 11px rgba(116, 116, 116, 1.0);
}

body {
	font: 16px/24px 'museo-slab', Helvetica, Arial; 
}

table.breakdown td.name {
	padding-right: 16px;
}

table.breakdown td.hour {
	text-align: right;
	padding-right: 7px;
}

#nav {
width: 920px;
margin: 0 auto 30px;
padding: 10px 0;
overflow: hidden;
border-bottom: 1px solid rgb(228, 228, 228);
}

#nav > ul > li {
	margin: 0 5px;
}

#nav li.first a {
	padding-left:0;
}

#nav .first {
border-radius: 50%;
width: 29px;
height: 29px;
border: 1px solid #C6DA97;
margin: 7px 21px 7px 9px}

#nav li.first a {
color: #87B448;
text-align: center;
width: 29px;
font-weight: bold;
padding: 9px 12px 12px;
margin: -6px -12px;
}
#nav .first:hover {
	background: #87b448;
	border: 1px solid #87b448;
}

#nav li.first:hover a {
	color: #fff;
}

#nav li {
	list-style-type: none;
	float: left;
}

#nav li a {
	padding: 10px 11px;
	display: block;
	text-decoration: none;
}

#nav li.client {
	float: right;
	margin: 8px 0 0;
}

#nav li.period .select2-container {
	margin-right: 0;
}

#nav li.period {
	float: right;
	margin: 8px 0 0;
}

#nav .select2-container {
	margin: 0 10px;
}

#nav li.period select {
}

#nav li.period a, #nav li.client a {
	padding: 0 10px;
}

#nav li.period a {
	padding-right: 0;
}


#nav li.logout, #nav li.login {
float: right;
padding: 0;
}

#nav ul ul {
	background: white;
padding: 6px 0;
border: 1px solid #C4C4C4;
-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
border-radius: 5px; 
	margin: 0 0 0 15px;
}

#nav li a .sf-sub-indicator {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}
	

#nav li li {
	border: none;
}

#nav li li a {
	width: 158px; 
	margin: 0;
	padding: 3px 10px;
	border-bottom: 1px solid #fff;
	text-transform: none;
	position: relative;
	display: block;
	color: #111;
}

#nav li li a.dead, #nav li li a.dead:hover {
	background: none;
	color: rgb(207, 207, 207);
	cursor: default;
}

	
#nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 180px;
padding: 6px 0;
	}

#nav li.account-settings ul {
	width: 100px;
	text-align: center;
	margin: 0;
}

#nav li.account-settings ul li a {
	width: 100px;
	padding: 3px 0;
}

#nav li li a:hover {
color: white;
	background: #87B448;
}

#nav li ul a { 
	width: 160px;
	}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul {
	left: -999em;
	}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfHover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul {
	left: auto;
	}

#nav ul ul ul {
	margin: 0 0 0 180px;
}



#content {
		padding: 0 30px;
}

.view .expenses {
	margin: 15px 0 15px 0;
	border-bottom: 1px solid #e4e4e4;
	padding: 0 0 20px 0;
}

.view h1 a {
	color: #000!important;
}

.view h1 a:hover {
	border-bottom: 1px solid #e4e4e4;
}

.view .total {
	float: none;
}

.view .expenses h2, .view .breakdown {
	border: none;
	margin: 0 0 2px 0;
}
.negative-margins {
	margin: -25px 0 0;
}

.view .left-column {
	float: left;
	min-width: 150px;
}


/* Calendar Idea -----------------------------------*/


.calendar {
	width: 70px;
	text-align: center;
	float: left;
	margin: 0 20px 12px 0;
	background: url(/images/calendar_green.png) no-repeat;
	height: 90px;
}

.month {
	display: block;
	font-size: 11px;
	line-height: 13px;
	width: 68px;
	margin: 0 auto;
	padding: 13px 0 10px 0;
	color: #fff;
	width: 58px;
	margin: 0 0 0 4px;
}

.day {
	font-size: 25px;
	color: #8ca852;
	font-weight: bold;
	padding: 2px 0 0 0;
	display: block;
	width: 58px;
	margin: 0 0 0 4px;
}

.view .minutes {
	color: #ccc;
}

.view .overflow_hidden:hover .minutes {
	display: inline;
}

.view .right {
	float: right;
	width: 830px;
	margin: 7px 0 0 0;
}


label, .label {
	font-size: 14px;
	font-weight: bold;
	display: block;
}

hr {
	border-top: 1px solid #e4e4e4;
	clear: both;
}

hr.orange {
	height: 1px;
	background: #fdab3c;
	border: none;
}

input[type="text"].normal, textarea, input[type="password"] {
	display: block;
	font: 16px 'museo-slab', Arial;
	margin: 0 0 12px 0;
	width: 230px;
	border: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 9px 9px 10px;
}

select, .select2-container {
	margin: 0 0 20px 0;
	display: block;
}

#delete_label {
	line-height: 11px;
	float: left;
	margin-right: 4px;
}

.overflow_hidden {
	overflow: hidden;
	padding: 4px 0;
}

input[type="text"].normal:focus, textarea:focus, input[type="password"]:focus {
   outline: 0;
   border-color: #a8a8a8;   
}

textarea {
	resize: none;
	display: block;
	width: 890px;
}

input[type="submit"]  {
	font: 300 14px/1  'museo-slab', Helvetica, Arial;
	margin: 10px 0 30px;
	background: none;

	border: none;
	border-radius: 3px;
  color: #87B448;
	border: 1px solid #87B448;
  padding: 12px 24px;
  text-align: center;
	font-weight: bold;
}

input[type="submit"]:hover {
 background: #87B448;
 color: #fff;
}


p {
	margin-bottom: 25px;
}

h1 {
	font-size: 30px;
	margin: 0 0 30px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin: 0 0 30px 0;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px;
}

a {
	text-decoration: none;
	color: #87b448;
}

a.current {
	color: #aaa;
}

#content ul, #content ol {
	margin: 0 0 25px 20px;
}

#content ul ul, #content ul ol, #content ol ol, #content ol ul {
	margin-bottom: 0;
}

ul br, ol br {
	display: none;
}

ul li br {
	display: block;
}

ul em, ol em {
}
  
/* Content --------------------------------------- */

.single .content {
	overflow: hidden;
	width: 550px;
	float: right;
	padding: 0 50px 0 0
}

/* Home Page when logged in --------------------------------------- */

.home .main td {
	padding: 13px 9px 0;
}

.home td.number {
	width: 20px;
}

.home td.checkboxes {
	width: 25px;
}

.home td input[type="checkbox"] {
	display: none;
}

.home .main .checkboxes, .count-wrap, .tasks .count-wrap {
	text-align: center;
	margin: 0 8px 0 0;
	padding: 9px;
}

.home .main .checkboxes {
	border-right: 2px solid #e7efd4;
}

.checkbox, .count, .circle {
	border-radius: 50%;
	display: block;
	width: 29px;
	height: 29px;
	border: 1px solid #C6DA97;
	padding: 0;
}

.checkbox, .count {
	cursor: pointer;
}

.checkbox span {
	padding: 3px 0 0;
	display: block;
}

.paid, .count.active, .circle {
	color: #fff;
	background: #87b448;
	border: 1px solid #87b448;
}


@-moz-document url-prefix() { 
	.checkbox span, .clients .count span, .tasks .count span {
		padding: 2px 0 0!important;
	}
}


.grey {
	background-color: rgb(245, 247, 240);;
}

thead th {
	text-align: left;
	color: #fff;
	background: #87b448;
}

thead th {
	padding: 4px 0 4px 8px;
}


td {
	padding: 2px 0 2px 8px;
}

table.total {
	margin-bottom: 0px;
	width: 300px;
	float: right;
}

.total td, .total thead th {
	text-align: right;
	padding-right: 10px;
	border: 1px solid rgb(245, 247, 240);
}

.total thead {
	display: none;
}

table.total td {
}

table.total tr {
	background: none!important;
}

.search_form input[type="search"] {
		box-shadow: inset 0 1px 1px 1px #999;
		padding: 7px;
		border-radius: 2px;
		width: 150px;
		/*-webkit-appearance: textfield;*/
}

.excerpt {
	margin: 15px 0 15px 30px;
}

.actions a {
	color: #ddd;
	font-size: 12px;
	font-family: Arial;
}

.light {
	color: #ccc;
}

/* Landing Page --------------------------------------- */

table {
	width: 100%;
}


/* Client Page --------------------------------------- */

.client .good-alert {
	width: 620px;
	float: right;
	margin: 19px 0 0 0;
}

.client .good-alert.two {
	margin: 17px 0 0 0;
}

span.required {
	color: #b80000;
}

/* Clients Page --------------------------------------- */

.clients tr .name a {
	opacity: 0;
}

.clients .count {
	margin: -4px 0 0;
}

.clients .count span, .tasks .count span, .circle span {
	padding: 3px 0 0;
	display: block;
}

.clients td.edit {
	border-right: 2px solid #e7efd4;
}

.clients tr:hover .name a {
	opacity: 1;
}

.clients .light {
	text-align: right;
	float: right;
}

.clients td, .tasks td {
	padding: 14px;
}

.clients th.rate {
padding-right: 34px;
}

.clients td.last {
	padding-right: 18px;
}

.clients .vertical-center {
	padding: 15px 0 0 10px;
}

.clients .edit {
padding: 14px 10px;
}

/* Task Page --------------------------------------- */


.task .good-alert {
	width: 620px;
	float: right;
	margin: 70px 0 0;
}


/* Tasks Page --------------------------------------- */

.tasks .no-name {
	width: 25px;
}

.tasks td {
	padding: 13px 10px 0;
}

.tasks .count-wrap, .border.count-wrap {
	border-right: 2px solid #e7efd4;
}



/* Task by year --------------------------------------- */

.task-by-year td {
	padding: 13px 10px 0;
}

.task-by-year tr + tr.new {
/*border-top: 50px solid white;*/
}

td.border.count-wrap {
	padding: 9px;
}


/* Client by year --------------------------------------- */

.client-by-year td {
	padding: 13px 10px 0;
}

/* Landing Page --------------------------------------- */

sup {
	font-size: 12px;
	margin-top: -8px;
	padding: 3px;
	vertical-align: top;
	font-weight: 300;
	display: inline-block;
}

.home.logged_out h1, .home.logged_out h2 {
	text-align: center;
}


.home.logged_out h2 {
	padding: 0 0 35px 0;
}

.home.logged_out #content {
padding: 0 90px;
}

.home.logged_out #wrap {
	padding: 0 0 60px 0
}

.home.logged_out .left {
	width: 450px;
	float: left;
	margin: 49px 0 0;
}

.home.logged_out .right {
	float: right;
	padding: 44px 66px 3px;
	width: 185px;
}

.home.logged_out h3 {
	padding: 10px 0;
	font-size: 20px;
}

.home.logged_out .both {
	clear: both;
	overflow: hidden;
}

#home {
	color: black;
	font-weight: 300;
}

.home.logged_out .citation {
	clear: both;
	color: rgb(184, 184, 184);
	border-top: 1px solid #ddd;
	padding: 10px;
	margin: 70px 0 0;
	overflow: hidden;
}

.citation sup {
	font-size: 8px;
}

.citation a {
	color: rgb(184, 184, 184);
	text-decoration: underline;
}

/* Login Page --------------------------------------- */

body .fancybox-close {
	background-image: none;
}

input.error, textarea.error {
	border: 1px solid red!important;
}

body .fancybox-wrap {
	top: 20%!important;
}

body .fancybox-wrap form {
	padding: 20px 20px 0;
}

.login .both {	
	overflow: hidden;
	width: 230px;
}

.login .both label {
	float: left;
}

.login .both input[type="checkbox"] {
	vertical-align: bottom;
margin: 7px 6px 0 0;
float: left;
}

.error {
	color: red;
}

/* Fee page _____________ */

.fee .both span {
	float: left;
display: block;
margin: 4px 6px 0 0;
}

.fee input[type="text"].normal {
	width: 60px;
}


/* Yearly income Page --------------------------------------- */

.yearly-income th {
padding: 4px 0 4px 17px;
}

.yearly-income td {
padding: 13px 0 11px 17px;
}

/* Time Page --------------------------------------- */

.time input[type="text"].normal {
width: 30px;
float: left;
margin: 0 10px 15px 0;
display: inline;
text-align: right;}

.time .left {
	float: left;
	width: 250px;
}

.time .right {
	float: left;
	width: 250px;
}


.time .overflow_hidden {
	padding: 0;
}


.time .both {
	overflow: hidden;
	margin: 0 0 0 -5px;
	padding: 4px 0 0 5px;
}

.time .seconds {
float: left;
margin: 7px 10px 0 0;
width: 25px;
}

#startstop {
margin: 0 10px 30px 0;
text-align: center;
display: block;
float: left;
padding-left: 0;
padding-right: 0;
width: 81px;
}

.time input[type="submit"][value="Start"] {
	border-color: #fda12c;
	color: #fda12c;
}

body .fancybox-skin {
background: white;
}

input[type="submit"][value="Start"]#startstop:hover {
 background: #fda12c;
 color: #fff;
}


#startstop[value="Stop"], input[type="submit"].delete {
	background: #d10000;
	color: #fff;
	border-color: #d10000;
}

input[type="submit"][value="Stop"]#startstop:hover {
	background: #d10000;
	color: #fff;
}


/* Expense Page --------------------------------------- */

.expense .both span {
	display: block;
	float: left;
	margin: 3px 6px 0 0;
}

.expense input[type="text"].normal {
	width: 66px;
}


/* Account Page --------------------------------------- */

.account .delete-section {
	display: none;
}

.good-alert {
	background: rgb(245, 247, 240);
	padding: 10px;
}

.account .color_scheme label {
	float: left;
	font-weight: 300;
	font-size: 15px;
}

.account .color_scheme input[type="radio"] {
	margin: 5px 10px 0 0;
}
/* Elements --------------------------------------- */

.root {
	overflow: auto;
	height: 100%;
}

.paginate .item {
	padding: 0 10px 0;
	float: left;
}

.post {
	margin: 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #eee;
}

.dates {
	color: #aaa;
	font: 12px Arial;
	overflow: hidden;
}

.dates > div {
	float: left;
}

.modify-date {
	margin-left: 10px;
}

/* Elements --------------------------------------- */

.post .dates, .post form {
	visibility: hidden;
}

.post:hover .dates, .post:hover form {
	visibility: visible;
}

/* Post Inputs --------------------------------------- */


input[type="radio"] {
	vertical-align: 13%;
	margin: 0 10px 0 0;
	float: left;
}

input[type="submit"]::-moz-focus-inner {border:0;}

input.remove {
	color: #aaa;

}

input.edit {
	margin-right: 5px;
	float: left;
}
	
/* Retina Display --------------------------------------- */

@media screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	body {
		background-image: url(/images/mochaGrunge_@2X.png);
		background-size: 400px;
	}

	.calendar {
		background: url(/images/calendar_green_retina.png) no-repeat;
		background-size: 100%;
	}
}
